---
layout: base.njk
ogType: article
description: A short story.
---
<article class="story">
  <h1>{{ title }}</h1>
  <span class="subtext">{{ year }} &middot; {{ wordcount }} words</span>
  {{ content | safe }}
</article>