---
layout: base.njk
---
<p class="quote">"I let out my voice, lest one be chosen for me"</p>

<h2>Recent Poems</h2>
<ul class="listing-list">
  {% for poem in collections.poems | reverse %}
    {% if loop.index <= 5 %}
    <li><a href="{{ poem.url }}">{{ poem.data.title }}</a></li>
    {% endif %}
  {% endfor %}
</ul>

<h2>Recent Stories</h2>
<ul class="listing-list">
  {% for story in collections.stories | reverse %}
    {% if loop.index <= 5 %}
    <li><a href="{{ story.url }}">{{ story.data.title }}</a></li>
    {% endif %}
  {% endfor %}
</ul>