---
title: Poems
layout: base.njk
permalink: /poems/
description: Poems by stovenly.
---
{% from "listing-item.njk" import listingItem %}
<h1>Poems</h1>
<ul class="listing-list">
  {% for poem in collections.poems | reverse %}
    {{ listingItem(poem.url, poem.data.title, poem.data.year) }}
  {% endfor %}
</ul>